apiVersion: v1
kind: Service
metadata:
  name: week-14-exam-api-svc
  labels:
    app: api
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - port: 8000      
      targetPort: 8000  
      nodePort: 30083

